# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Java CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: 17
          distribution: 'temurin'
      - uses: burrunan/gradle-cache-action@v1
        name: Build with Gradle
        with:
          arguments: build
          gradle-version: wrapper
      - name: Upload build artifact
        uses: actions/upload-artifact@v2
        with:
          name: artifact
          path: build/
